<div class="w-full px-4 py-8 max-w-6xl mx-auto min-h-[calc(100vh-128px)] rounded-3xl border-t border-t-slate-200 shadow-md">
  <div class="sticky rounded-l-xl rounded-r-xl p-2 grid grid-flow-row grid-cols-5 gap-4 bg-indigo-200">
    <div class="row-span-1 text-center text-sm border-r">Patient</div>
    <div class="row-span-1 text-center text-sm border-r">Contacts</div>
    <div class="row-span-1 text-center text-sm border-r">Visit Type</div>
    <div class="row-span-1 text-center text-sm border-r">Time</div>
    <div class="row-span-1 text-center text-sm">Status</div>
  </div>
  @if(isLoading()){
    <div>Loading your data</div>
  }
  @else if(errorMessage){
    <div class="grid max-w-4xl mx-auto place-items-center text-center pt-16 md:pt-28 px-4 gap-8">
      <div class="text-xl font-extralight italic text-gray-400">{{errorMessage}}</div>
    </div>
  }
  @else{
    <div class="p-2 grid grid-flow-row gap-4">
      <div class="border-b border-b-gray-200 grid grid-flow-row grid-cols-5 gap-4 place-items-center">
        <div class="row-span-1 text-center">Igor Schlor</div>
        <div class="row-span-1 text-center text-sm">
          <div class="flex flex-row">
            +33 723 39 48 29
          </div>
          <div class="flex flex-row text-gray-500">
            igor.schloratmail.com
          </div>
        </div>
        <div class="row-span-1 text-center">Consultation</div>
        <div class="row-span-1 text-center text-sm">
          <div class="flex flex-row">
            9:00 AM
          </div>
          <div class="flex flex-row text-gray-500">
            16/02
          </div>
        </div>
        <div class="row-span-1 text-center">
          <div class="flex flex-row border rounded-3xl bg-green-300 border-green-300 items-center justify-center gap-2 p-1">
            <div class="rounded-2xl bg-green-700 h-2 w-2"></div>
            <div class="text-sm">Completed</div>
          </div>
        </div>
      </div>
    </div>
  }
</div>
