<div class="w-full px-4 py-8 max-w-6xl mx-auto min-h-[calc(100vh-128px)] rounded-3xl border-t border-t-slate-200 shadow-md">
  <div class="sticky rounded-l-xl rounded-r-xl p-2 grid grid-flow-row grid-cols-5 gap-4 bg-indigo-200">
    <button class="row-span-1 text-center place-content-center text-sm flex gap-2 cursor-pointer"
            (click)="filterAppointments('name')"
    >
      Patient
      <div class="flex flex-col -space-y-1 items-center justify-center">
        <i data-feather="chevron-up"  height="12"></i>
        <i data-feather="chevron-down"  height="12"></i>
      </div>
    </button>
    <div class="row-span-1 text-center place-content-center text-sm  flex gap-2 cursor-pointer"
    (click)="filterAppointments('email')"
    >
      Contacts
      <div class="flex flex-col -space-y-1 items-center justify-center">
        <i data-feather="chevron-up"  height="12"></i>
        <i data-feather="chevron-down"  height="12"></i>
      </div>
    </div>
    <div class="row-span-1 text-center place-content-center text-sm  flex gap-2 cursor-pointer"
    (click)="filterAppointments('visitType')"
    >
      Visit Type
      <div class="flex flex-col -space-y-1 items-center justify-center">
        <i data-feather="chevron-up"  height="12"></i>
        <i data-feather="chevron-down"  height="12"></i>
      </div>
    </div>
    <div class="row-span-1 text-cente place-content-center text-sm  flex gap-2 cursor-pointer"
    (click)="filterAppointments('date')"
    >
      Time
      <div class="flex flex-col -space-y-1 items-center justify-center">
        <i data-feather="chevron-up"  height="12"></i>
        <i data-feather="chevron-down"  height="12"></i>
      </div>
    </div>
    <div class="row-span-1 text-center place-content-center text-sm flex gap-2 cursor-pointer"
    (click)="filterAppointments('status')"
    >
      Status
      <div class="flex flex-col -space-y-1 items-center justify-center">
        <i data-feather="chevron-up"  height="12"></i>
        <i data-feather="chevron-down"  height="12"></i>
      </div>
    </div>
  </div>
  @if(isLoading()){
    <div>Loading your data</div>
  }
  @else if(errorMessage && dashboardInfos().length === 0){
    <div data-testid="error-msg" class="grid max-w-4xl mx-auto place-items-center text-center pt-16 md:pt-28 px-4 gap-8">
      <div class="text-xl font-extralight italic text-gray-400">{{errorMessage}}</div>
    </div>
  }
  @else{
    <div data-testid="template" class="p-2 grid grid-flow-row gap-4">
      @for (info of dashboardInfos(); track info){
        <div class="border-b border-b-gray-200 grid grid-flow-row grid-cols-5 gap-4 place-items-center">
          <div class="row-span-1 text-center">{{info.name}}</div>
          <div class="row-span-1 text-center text-sm">
            <div class="flex flex-row italic text-slate-400">
              nº -- -- -- --
            </div>
            <div class="flex flex-row text-gray-500">
              {{info.email}}
            </div>
          </div>
          <div class="row-span-1 text-center">{{info.visitType}}</div>
          <div class="row-span-1 text-center text-sm">
            <div class="flex flex-row">
              {{info.date | date: 'shortTime'}}
            </div>
            <div class="flex flex-row text-gray-500">
              {{info.date | date: 'mediumDate'}}
            </div>
          </div>
          <div class="row-span-1 flex flex-column place-items-center gap-1 text-center">
            <div class="flex flex-row border rounded-3xl items-center justify-center gap-2 p-1 text-gray-800"
                 [class.bg-green-100]="info.status === AppointmentStatus.Confirmed"
                 [class.border-green-300]="info.status === AppointmentStatus.Confirmed"
                 [class.text-green-800]="info.status === AppointmentStatus.Confirmed"

                 [class.bg-red-100]="info.status === AppointmentStatus.Cancelled"
                 [class.border-red-300]="info.status === AppointmentStatus.Cancelled"
                 [class.text-red-800]="info.status === AppointmentStatus.Cancelled"

                 [class.bg-yellow-100]="info.status === AppointmentStatus.Pending"
                 [class.border-yellow-300]="info.status === AppointmentStatus.Pending"
                 [class.text-yellow-800]="info.status === AppointmentStatus.Pending">

              <div class="rounded-2xl h-2 w-2"
                   [class.bg-green-600]="info.status === AppointmentStatus.Confirmed"
                   [class.bg-red-600]="info.status === AppointmentStatus.Cancelled"
                   [class.bg-yellow-600]="info.status === AppointmentStatus.Pending">
              </div>
              <div class="text-sm font-medium">{{info.status}}</div>
            </div>
            @if(info.status === 'Pending'){
              <div>
                <button class="text-gray-500 hover:text-gray-700
                transition cursor-pointer"
                        (click)="onConfirm(info)"
                        [matTooltip]="'Confirm this booking.'"
                >
                  <i data-feather="check-circle"  height="16"></i>
                </button>
              </div>
            } @else if(info.status === 'Confirmed'){
              <div>
                <button class="text-gray-500 hover:text-gray-700
                transition cursor-pointer"
                        (click)="onCancel(info)"
                        [matTooltip]="'Cancel this booking.'"
                >
                  <i data-feather="x-circle"  height="16"></i>
                </button>
              </div>
            }
            <div>
              <button class="text-gray-500 hover:text-gray-700
                transition cursor-pointer"
                      (click)="onDelete(info)"
                      [matTooltip]="'Delete this booking.'"
              >
                <i data-feather="trash-2"  height="16"></i>
              </button>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
