
<button class="absolute top-0 right-0 m-4 cursor-pointer" (click)="close()">
  <i data-feather="x"></i>
</button>
<form [formGroup]="updatePassForm" class="grid p-3 m-3">
  <label class="text-sm font-semibold " for="currentpwd">Current password</label>
  <input formControlName="currentPassword" class="focus:border-b focus:outline-none focus:ring-0" type="password" id="currentpwd" />
  <label class="text-sm font-semibold" for="newpwd">New password</label>
  <input formControlName="newPassword" class="focus:border-b focus:outline-none focus:ring-0" type="password" id="newpwd" />
  <label class="text-sm font-semibold" for="confirmpwd">Confirm password</label>
  <input formControlName="confirmNewPassword" class="focus:border-b focus:outline-none focus:ring-0" type="password" id="confirmpwd" />
  @if(!isMatch){
    <div>no match</div>
  }
  @else if(isError){
    <div>error</div>
  }
  <div class="flex justify-center items-center pt-4">
    <button
      (click)="updatePassword()"
      class="rounded-md  bg-indigo-400 p-2 text-sm text-white hover:bg-indigo-500 cursor-pointer"
    >Update password</button>
  </div>
</form>
