<form class="w-full flex justify-center px-4 py-8 md:p-8">
  <div class="w-full md:w-fit flex flex-col md:flex-row items-stretch md:items-start gap-y-3 md:gap-y-0">
    <div class="flex flex-col items-start w-full md:w-96">
      <input type="search" list="practice-specialty" placeholder="Service, practice or practitioner" class="border border-slate-300 p-2 w-full shadow-md focus:outline-none rounded-t-xl md:rounded-l-xl md:rounded-tr-none">
      <datalist id="practice-specialty" class="w-full">
        @for (data of datalist; track data.name) {
          <option>
            {{data.name}}
          </option>
        }
      </datalist>
    </div>
    <input type="text" placeholder="Location" class="border md:border-r md:border-y border-slate-300 p-2 w-full md:w-96 shadow-md focus:outline-none">
    <button class="bg-indigo-600 hover:bg-indigo-700 text-white font-semibold px-6 py-2 h-[42px] shadow-md rounded-b-xl md:rounded-r-xl md:rounded-bl-none transition">Search</button>
  </div>
</form>
