<form class="w-full flex justify-center p-8">
  <div class="w-fit flex items-start gap-0">
    <div class="flex flex-col items-start w-96">
      <input type="text" placeholder="Service, practice or practitioner" class="border border-slate-300 p-2 w-full shadow-md focus:outline-none">
      <!-- <p class="text-xs font-extrabold text-slate-500 mt-2 px-1">Top searches</p> -->
    </div>
      <input type="text" placeholder="Location" class="border-r border-y border-slate-300 p-2 w-96 shadow-md focus:outline-none">
      <button class="bg-indigo-600 hover:bg-indigo-700 text-white font-semibold px-6 py-2 h-[42px] shadow-md rounded-r-xl transition">Search</button>
  </div>
</form>
