<div class="flex flex-col w-full">
  <div class="flex max-w-5xl mx-auto justify-center items-center p-8 gap-48">
    <div class="flex flex-col items-center text-center gap-8">
      <h1 class="text-6xl font-bold">Lorem ipsum dolor sit amet, consectetur adipiscing.</h1>
      <p class="max-w-md text-xl">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl eget egestas mollis, nunc nisl aliquam nisl, eget aliquam nisl nisl eu nunc.
      </p>
      <button
        (click)="onSubmitToSignUp()"
        class="text-md bg-indigo-600 text-white font-bold rounded-md h-10 hover:bg-indigo-700 transition px-12 mr-4">
        Get started
      </button>
    </div>
  </div>
  <div class="flex py-8 bg-gray-100">
    <div class="flex flex-row w-full max-w-full mx-auto justify-between items-center">
      <div class="flex flex-col pt-8 m-8 border-r pl-16 border-solid border-b-slate-300">
        <p class="text-4xl font-normal">Sed id turpis gravida, maximus justo ac</p>
        <div class="flex flex-row justify-between max-w-sm py-8">
          <div class="flex flex-col">
            <p class="text-4xl font-semibold">2 in 3</p>
            <p class="text-xl font-normal py-2">Nunc fermentum rutrum</p>
          </div>
          <div class="flex flex-col">
            <p class="text-4xl font-semibold">10,000+</p>
            <p class="text-xl font-normal py-2">In risus odio</p>
          </div>
        </div>
      </div>
      <div class="flex flex-col text-center pt-8 m-14 max-w-md">
        <p class="text-xl font-black">
          "Lorem ipsum dolor sit amet,
          consectetur adipiscing elit.
          Phasellus vitae euismod arcu.
          Suspendisse quis pellentesque tortor, sit amet"
        </p>
      </div>
    </div>
  </div>
</div>
